.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.courseInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.courseInfo h3 {
  font-size: 32px;
}

.courseInfo ~ p {
  font-size: 18px;
  margin-top: 10px;
}

.courseFooter {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.courseStats {
  display: flex;
  gap: 15px;
  align-items: center;
}

.courseStats span {
  display: flex;
  align-items: center;
}

.item__footer_price img {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
